{% extends "diplom/base.html" %}
{% block content %}
{% load static %}
    <!--Main Slider-->
    <section class="main-slider">

        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static 'diplom/images/main-slider/image-3.jpeg'%}"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="{% static 'diplom/images/main-slider/image-3.jpeg'%}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>HI <br> <span style="color: #aa8c44">satisfaction</span> matters</h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">We are operating a range of modern steel making<br> technologies with the latest computerized types of machinery.</div></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Our Services</a> &ensp; <a href="#" class="theme-btn btn-style-two">Learn More</a></div>


                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static 'diplom/images/main-slider/image-12.jpeg'%}"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="{% static 'diplom/images/main-slider/image-12.jpeg'%}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>A <span style="color: #aa8c44">company</span> to <br>change the world </h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">We are operating a range of modern steel making <br>technologies with the latest computerized types of machinery.</div></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="500"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Our Services</a> &ensp; <a href="#" class="theme-btn btn-style-two">Learn More</a></div>


                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static 'diplom/images/main-slider/image-4.jpeg'%}"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="{% static 'diplom/images/main-slider/image-4.jpeg'%}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="-100"
                    data-speed="1500"
                    data-start="0"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>Were customer <br> <span style="color: #aa8c44">satisfaction</span> matters</h2></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">We are operating a range of modern steel making<br> technologies with the latest computerized types of machinery.</div></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="1000"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.001"
                    data-endelementdelay="0.5"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Our Services</a> &ensp; <a href="#" class="theme-btn btn-style-two">Learn More</a></div>


                    </li>

                </ul>

            	<div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>


    <!--welcome-section-->
    <section class="welcome-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--welcome-column-->
            	<div class="col-md-6 col-sm-12 col-xs-12 welcome-column">
                	<!--inner-content-->
                	<div class="inner-content wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<h2>УБД "Бетон"</h2>
                        <h3>УДБ «Бетон» - це компанія, що спеціалізується на виробництві бетону. Заснована з метою забезпечення високоякісного будівельного матеріалу для різноманітних проектів будівництва та реконструкції. </h3>
                        <div class="text"> Компанія пропонує широкий спектр бетонних сумішей, включаючи звичайні та спеціальні склади, розроблені для відповідності різним вимогам та умовам експлуатації.</div>
                        <div class="text">УДБ «Бетон» прагне досягти високої якості продукції шляхом використання сучасного обладнання, контролю якості на кожному етапі виробництва та утримання високих стандартів безпеки та екологічної відповідності. Завдяки цьому підходу компанія займає впевнене місце на ринку будівельних матеріалів і здобуває довіру клієнтів завдяки надійності та якості своєї продукції.</div>

                        <!--author-title-->
                        <div class="author-title">

                        </div>
                    </div>
                </div>

                <!--service-column-->
                <div class="col-md-6" style="    padding: 40px;">
                	<article class="inner-box wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                             <h2 style="visibility: hidden;">Меню</h2>
                        <figure class="image-box video-box">
                            <img src="{% static 'diplom/images/resource/image-15.jpeg'%}" style="height:500px;" alt="">
<!--                             <a href="https://www.youtube.com/watch?v=OrJKD11Rmdg" class="lightbox-image video-link"><div class="icon"><span class="flaticon-play-button-5"></span></div></a>-->
                        </figure>
                    </article>



                </div>
            </div>


            <div class="row" style="margin-top: 5%">
                <!--welcome-column-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!--inner-content-->
                    <!--service-block-one-->
                    <div class="service-block-one">
                        <div class="inner-box">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-avatar-1"></span>
                            </div>
                            <h3>Ми професіонали своєї діяльності</h3>
                            <div class="text">Наша компанія забезпечує надійність та якість у кожній партії виробленого бетону. </div>
                        </div>
                    </div>

                </div>
                    <!--service-block-one-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-correct"></span>
                            </div>
                            <h3>Найсучасніше обладнання</h3>
                            <div class="text">Ми працюємо з найсучаснішим обладнанням та використовуємо тільки перевірені матеріали, щоб забезпечити оптимальні результати для наших клієнтів.</div>
                        </div>
                    </div>
                </div>
                    <!--service-block-one-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-compass"></span>
                            </div>
                            <h3>Спеціальні технології</h3>
                            <div class="text">Ми професійний виробник бетону з великим досвідом та високим стандартом якості.</div>
                        </div>
                    </div>
                </div>
</div>

        </div>
    </section>

      <!--best-service-section-->
    <section class="best-service-section">
    	<div class="auto-container">

            <!--sec-title-->
            <div class="sec-title clearfix">
                <h2 class="pull-left">Наші послуги</h2>
            </div>
        	<div class="row clearfix">
            
                <!--service-block-two-->
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<!--inner-box-->
                	<div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="image-layer" style="background-image:url(images/resource/service-block-two-bg.jpg)"></div>
                    	<!--icon-box-->
                    	<div class="icon-box">
                        	<span class="flaticon-app"></span>
                        </div>
                        
                        <h3>Функціональність</h3>
                        <div class="text">Великий спектр послуг.</div>
                        
                        <!--bottom-icon-->
                        <div class="bottom-icon">
                        	<span class="flaticon-app"></span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<!--inner-box-->
                	<div class="inner-box wow fadeIn" data-wow-delay="400ms" data-wow-duration="1500ms">
                    	<div class="image-layer" style="background-image:url(images/resource/service-block-two-bg.jpg)"></div>
                    	<!--icon-box-->
                    	<div class="icon-box">
                        	<span class="flaticon-cement-truck"></span>
                        </div>
                        
                        <h3>Автопарк</h3>
                        <div class="text">Власний автопарк для перевезення бетону та розчину на об’єкти замовників.</div>
                        
                        <!--bottom-icon-->
                        <div class="bottom-icon">
                        	<span class="flaticon-cement-truck"></span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<!--inner-box-->
                	<div class="inner-box wow fadeIn" data-wow-delay="800ms" data-wow-duration="1500ms">
                    	<div class="image-layer" style="background-image:url(images/resource/service-block-two-bg.jpg)"></div>
                    	<!--icon-box-->
                    	<div class="icon-box">
                        	<span class="flaticon-settings"></span>
                        </div>
                        
                        <h3>Кваліфіковані кадри</h3>
                        <div class="text">Над продукцією працюють лише професіонали своєї справи.</div>
                        
                        <!--bottom-icon-->
                        <div class="bottom-icon">
                        	<span class="flaticon-settings"></span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<!--inner-box-->
                	<div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="image-layer" style="background-image:url(images/resource/service-block-two-bg.jpg)"></div>
                    	<!--icon-box-->
                    	<div class="icon-box">
                        	<span class="flaticon-fabric"></span>
                        </div>
                        
                        <h3>Продукція</h3>
                        <div class="text">Бетон найвищої якості.</на></div>
                        
                        <!--bottom-icon-->
                        <div class="bottom-icon">
                        	<span class="flaticon-fabric"></span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<!--inner-box-->
                	<div class="inner-box wow fadeIn" data-wow-delay="400ms" data-wow-duration="1500ms">
                    	<div class="image-layer" style="background-image:url(images/resource/service-block-two-bg.jpg)"></div>
                    	<!--icon-box-->
                    	<div class="icon-box">
                        	<span class="flaticon-speedometer"></span>
                        </div>
                        
                        <h3>Дотримання графіка</h3>
                        <div class="text">Безумовне виконання обов’язків, дотримання графіків та об’ємів поставки.</div>
                        
                        <!--bottom-icon-->
                        <div class="bottom-icon">
                        	<span class="flaticon-speedometer"></span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="service-block-two col-lg-4 col-md-6 col-sm-12 col-xs-12">
                	<!--inner-box-->
                	<div class="inner-box wow fadeIn" data-wow-delay="800ms" data-wow-duration="1500ms">
                    	<div class="image-layer" style="background-image:url(images/resource/service-block-two-bg.jpg)"></div>
                    	<!--icon-box-->
                    	<div class="icon-box">
                        	<span class="flaticon-bright-lightbulb"></span>
                        </div>
                        
                        <h3>Ідейність</h3>
                        <div class="text">Індивідуальний підхід до кожного замовника, надання консультацій.</div>
                        
                        <!--bottom-icon-->
                        <div class="bottom-icon">
                        	<span class="flaticon-bright-lightbulb"></span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
  <!--Gallery Section-->
    <section class="gallery-section">
        <div class="auto-container">
            <div class="sec-title-four">
                <h2>Наші останні роботи</h2>
            </div>
            <!--Sortable Masonry-->
            <div class="sortable-masonry">
                <!--Filter-->
                <div class="filters text-center">
                <div class="icon-box"><span class="fa fa-picture-o"></span></div>
                
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter=".all">Усі проєкти</li>
                        <li class="filter" data-role="button" data-filter=".painting">Автопарк</li>
                        <li class="filter" data-role="button" data-filter=".flooring">Продукція</li>
                        <li class="filter" data-role="button" data-filter=".tile-marble">Виробництво</li>
                    </ul>
                </div>
                
                
                <div class="items-container clearfix">
                    
                    <!--Default Portfolio Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all tile-marble">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'diplom/images/gallery/1.jpeg'%}" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                                <h3><a href="{% url 'service' %}">Виробництво</a></h3>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all tile-marble lighting">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'diplom/images/gallery/2.jpeg'%}" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                                <h3><a href="{% url 'service' %}">Виробництво</a></h3>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all flooring tile-marble furniture lighting">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'diplom/images/gallery/3.jpeg'%}" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                                <h3><a href="{% url 'service' %}">Продукція</a></h3>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all painting flooring furniture">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'diplom/images/gallery/14.jpeg'%}" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                                <h3><a href="{% url 'service' %}">Автопарк</a></h3>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all painting tile-marble furniture lighting">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'diplom/images/gallery/5.jpeg'%}" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                                <h3><a href="{% url 'service' %}">Продукція</a></h3>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 default-portfolio-item masonry-item all painting flooring tile-marble">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'diplom/images/gallery/7.jpeg'%}" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">
                                    </div>

                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                                <h3><a href="{% url 'service' %}">Виробництво</a></h3>
                            </div>
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 default-portfolio-item masonry-item all flooring furniture lighting">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{% static 'diplom/images/gallery/6.jpeg' %}" alt=""></figure>
                            <!--Overlay Box-->
                            <div class="overlay-one">
                                <div class="overlay-inner">
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                            <!--Caption Box-->
                            <div class="caption-box-one">
                                <h3><a href="{% url 'service' %}">Автопарк</a></h3>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div><!--End Sortable Masonry-->

        </div>    
        
        
    </section>

 <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        #calcForm {
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        button{
           font-size: 20px;
            margin-top: 10px;
            padding: 15px 20px;
            background-color: #d2b48c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #8b7355;
        }
        #result {
            font-size: 20px;
            margin-top: 50px;
            text-align: center;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .result-group p {
            margin: 5px 0;
        }

        .result-group p strong {
            font-weight: bold;
            margin-right: 10px;
        }
    </style>
<h1>Калькулятор вартості:</h1>
    <form id="quick-contact-form"  method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="id_width">Ширина (mm):</label>
        {{ block_form.width }}<br>
        <label for="id_height">Довжина (mm):</label>
        {{ block_form.height }}<br>
        <label for="id_length">Висота (mm):</label>
        {{ block_form.length }}<br>
        <label for="id_concrete_type">Вид бетону:</label>
        {{ block_form.concrete_type }}<br>
        <button type="submit" id="submit-quick-contact">Підрахувати</button>
    </form>

<div id="result">
        {% if concrete_amount %}
        <h2>Результат:</h2>
        <p>Об'єм: {{ volume }} m³</p>
        <p>Вартість: {{ concrete_amount }} UAH</p>
    {% endif %}</div>


<!--<script>-->
<!--document.addEventListener('DOMContentLoaded', function() {-->
<!--    document.getElementById('submit-quick-contact').addEventListener('click', function(event) {-->
<!--        event.preventDefault();-->

<!--        var form = document.getElementById('quick-contact-form');-->
<!--        var formData = new FormData(form);-->

<!--        fetch(form.action, {-->
<!--            method: 'POST',-->
<!--            body: formData,-->
<!--            headers: {-->
<!--                'X-CSRFToken': '{{ csrf_token }}'-->
<!--            }-->
<!--        })-->
<!--        .then(response => response.json())-->
<!--        .then(data => {-->
<!--            document.getElementById('quick-contact-result').innerHTML = data.message;-->
<!--        })-->
<!--        .catch(error => {-->
<!--            console.error('Error:', error);-->
<!--        });-->
<!--    });-->
<!--});-->
<!--</script>-->
    {% endblock %}